<div>
  <div>
    <mat-toolbar color="primary">
      <span>Caleb Jonasson</span>
      <span fxFlex></span>
      <mat-chip-list aria-label="Resume Version">
        <mat-chip>{{version}}</mat-chip>
      </mat-chip-list>
    </mat-toolbar>
  </div>
  <div>
    <router-outlet></router-outlet>
  </div>
  <div class="mt-20" fxLayout="column" fxLayoutAlign="center">
    <div fxLayoutAlign="center" class="print">
      <p class="print">Online version available:<br> resume.calebjonasson.com</p>
    </div>
    <div fxFlex="100%" class="mt-20" fxLayoutAlign="center">
      <p>This resume was created with Angular 12 + Material UI. <br/> It has been tested, versioned and built with Jenkins.</p>
    </div>
    <div fxLayoutAlign="center">
      <p>Version: {{version}}</p>
    </div>
    
  </div>
</div>